body {
    margin: 0;
    font-family: "Inter";
}

nav {
    width: 84vw;
    height:72px;
    overflow: hidden;

    padding-left: 8vw;
    padding-right: 8vw;

    background-color: #000;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    list-style: none;
}

#navbar a {
    height: 72px;
    width: 8vw;

    color: white;
    text-align: center;
    text-decoration: none;

    display: table-cell;
    vertical-align: middle;
}

#navbar .break {
    height: 72px;
    width: 48vw;

    display: table-cell;
}

/* Change the link color to #111 (black) on hover */
#navbar a:hover {
    background-color: #111;
}

#logo {
    font-size: 28pt;
    font-weight: 800;
    text-align: center;
    width: 8vw;
}


/* Containers */
#container {
    padding: 20px 8vw;
}

#center {
    text-align: center;
    width: 100%;
}



/* Pagination bar */
#pagination {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-transform: uppercase;

    padding: 12px;
}

#pagination li {
    display: inline-table;
    margin-bottom: 76px;
    outline: 1px solid #ddd;
    width: 2em;
    height: 2em;
}

#pagination a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

#pagination a:hover {
    background-color: #ddd;
}