body {
    margin: 0;
    font-family: "Inter";
}

/* Navigation bar */
nav {
    width: 84vw;
    height:72px;
    overflow: hidden;

    padding-left: 8vw;
    padding-right: 8vw;

    background-color: #000;

    text-align: center;
    font-weight: bold;
    text-transform: uppercase;

    list-style: none;
}

#navbar a {
    height: 72px;
    width: 8vw;

    color: white;
    text-align: center;
    text-decoration: none;

    display: table-cell;
    vertical-align: middle;
}

#navbar .break {
    height: 72px;
    width: 24vw;

    display: table-cell;
}

/* Change the link color to #111 (black) on hover */
#navbar a:hover {
    background-color: #111;
}

#logo {
    font-size: 28pt;
    font-weight: 800;
    text-align: center;
    width: 8vw;
}

/* Search bar */
#server-search-block {
    width: 24vw;

    display: table-cell;
    vertical-align: middle;

    padding: 10px;
}

#server-search-block .search-container {
    display: grid;
    grid-template-columns: auto 44px;
    grid-auto-rows: auto;
}

#server-search-block input {
    border: 1px solid #C3CAD9;
    background: white;

    height: 42px;
    width: 96%;
    padding-left: 12px;
    padding-top: 0;
    padding-bottom: 0;

    font-family: "Inter";
    font-size: 12pt;
}

#server-search-block button {
    border: 1px solid #C3CAD9;
    background: #7900B1;

    height: 44px;
    width: 44px;
}


/* Containers */
#container {
    padding: 20px 8vw;
}

#center {
    text-align: center;
    width: 100%;
}



/* Pagination bar */
#pagination {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    text-transform: uppercase;

    padding: 12px;
}

#pagination li {
    display: inline-table;
    margin-bottom: 76px;
    outline: 1px solid #ddd;
    width: 2em;
    height: 2em;
}

#pagination a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: black;
}

#pagination a:hover {
    background-color: #ddd;
}