#container form {
    width: 484px;
    display: inline-block;
    border: 1px solid #C3CAD9;
    border-radius: 4px;
}

#form-contents {
    margin: 16px;
    display: grid;
    text-align: left;
    row-gap: 20px;
}

@media (max-width: 576px) {
    #container form {
        width: 84vw;
    }
}