#container form {
    width: 100%;
    display: inline-block;
    border: 1px solid #C3CAD9;
    border-radius: 4px;
}

#form-contents {
    margin: 16px;
    display: grid;
    text-align: left;
    row-gap: 20px;
}

#form-contents .error-label {
    color: #F44;
}

#form-contents input {
    width: 452px;
}

#form-contents button {
    width: 452px;
}

.right {
    width: 100%;
    text-align: right;
}

@media (max-width: 576px) {
    #form-contents input {
        width: 100%;
    }
    #form-contents select {
        width: 100%;
    }
    #form-contents button {
        width: 100%;
    }
}