#servers {
    margin-top: 22px;
    border-collapse: collapse;
}

#servers td:nth-child(2) {
    width: 100%;
    padding-left: 12px;
}

#servers th:nth-child(2) {
    padding-left: 12px;
}
  
#servers td, #servers th {
    border: 1px solid #ddd;
    padding: 4px;
}
  
#servers tr:nth-child(even){background-color: #f2f2f2;}
  
#servers tr:hover {background-color: #ddd;}
  
#servers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #7900B1;
    color: white;
}

#servers th:nth-child(1) {
    text-align: center;
}

.server-entry {
    color: #00F;
    text-decoration: underline;
}

svg text{
    text-anchor: middle;
    text-transform: uppercase;
    font-weight: 900;
    pointer-events: none;
}